div, header, body, ul, li {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(62, 66, 58);
}

ul {
    list-style-type: none;
}

body {
    width: 960px;
    margin: 0 auto;
    color: rgb(62, 66, 58);
    font-family: Georgia, sans-serif;
}

header {
    padding: 5px;
    height: 25px;
    background: rgb(65, 115, 120);
    margin-bottom: 10px;
}

main > nav {
    width: 100px;
    float: left;
    margin-right: 25px;
}

section {
    float: left;
    width: 775px;
    height: 200px;
}

section nav li {
    padding: 3px 15px;
    float: left;
}

section nav li:hover {
    background: rgb(65, 115, 120);
    color: rgb(244, 247, 217)
}

.active-nav-tab {
    background: rgb(65, 115, 120);
    color: rgb(244, 247, 217)
}

section nav div {
    height: 40px;
    background: rgb(164, 207, 190);
    clear: both;
    border-top: 3px solid rgb(65, 115, 120);
}

main {
    width: 900px;
    margin: 0 auto;
    height: 200px;
}

#content {
    wid
}